<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit - book store website</title>
</head>

<body>
    <h1>edit</h1>
    <form action="" method="post">
        <p>id : <input type="text" name="id" value="<%= emp.emp_id %>" readonly></p>
        <p>password : <input type="password" name="password" maxlength="16" required></p>
        <p>First name : <input type="text" name="firstName" maxlength="25" value="<%= emp.emp_firstName %>" required></p>
        <p>Last name : <input type="text" name="lastName" maxlength="25" value="<%= emp.emp_lastName %>" required></p>
        <button type="submit">submit</button>
    </form>
</body>

</html>