<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login - book store website</title>
</head>

<body>
    <h1>login</h1>
    <form action="/login" method="post">
        <input type="text" name="id" placeholder="enter you id" required><br><br>
        <input type="password" name="password" placeholder="enter you password" required><br><br>
        <button type="submit">LOGIN</button>
        <button onclick="location.href='/register'">Regis</button>
    </form><br>
    <span style="color: red; font-weight: bold"><%= err %></span>
</body>

</html>